li
  a(href="http://www.nodemanual.org/latest/", class="version") Latest (0.6.16)
li
  a(href="http://www.nodemanual.org/0.6.15/", class="version") 0.6.15
li
  a(href="http://www.nodemanual.org/0.6.14/", class="version") 0.6.14
li
  a(href="http://www.nodemanual.org/0.6.13/", class="version") 0.6.13
li
  a(href="http://www.nodemanual.org/0.6.12/", class="version") 0.6.12
li
  a(href="http://www.nodemanual.org/0.6.11/", class="version") 0.6.11
li
  a(href="http://www.nodemanual.org/0.6.10/", class="version") 0.6.10
li
  a(href="http://www.nodemanual.org/0.6.9/", class="version") 0.6.9
li
  a(href="http://www.nodemanual.org/0.6.8/", class="version") 0.6.8
li
  a(href="http://www.nodemanual.org/0.6.7/", class="version") 0.6.7