li
  a(href="http://www.nodemanual.org/0.8.12/", class="version") 0.8.12
li
  a(href="http://www.nodemanual.org/0.8.11/", class="version") 0.8.11
li
  a(href="http://www.nodemanual.org/0.8.10/", class="version") 0.8.10
li
  a(href="http://www.nodemanual.org/0.8.9/", class="version") 0.8.9
li
  a(href="http://www.nodemanual.org/0.8.8/", class="version") 0.8.8
li
  a(href="http://www.nodemanual.org/0.8.7/", class="version") 0.8.7
li
  a(href="http://www.nodemanual.org/0.8.6/", class="version") 0.8.6
li
  a(href="http://www.nodemanual.org/0.8.5/", class="version") 0.8.5
li
  a(href="http://www.nodemanual.org/0.8.4/", class="version") 0.8.4
li
  a(href="http://www.nodemanual.org/0.8.3/", class="version") 0.8.3
li
  a(href="http://www.nodemanual.org/0.8.2/", class="version") 0.8.2
li
  a(href="http://www.nodemanual.org/0.8.1/", class="version") 0.8.1
li
  a(href="http://www.nodemanual.org/0.8.0/", class="version") 0.8.0
li
  a(href="http://www.nodemanual.org/0.6.19/", class="version") 0.6.19
li
  a(href="http://www.nodemanual.org/0.6.18/", class="version") 0.6.18
li
  a(href="http://www.nodemanual.org/0.6.17/", class="version") 0.6.17
li
  a(href="http://www.nodemanual.org/0.6.16/", class="version") 0.6.16
li
  a(href="http://www.nodemanual.org/0.6.15/", class="version") 0.6.15
li
  a(href="http://www.nodemanual.org/0.6.14/", class="version") 0.6.14
li
  a(href="http://www.nodemanual.org/0.6.13/", class="version") 0.6.13
li
  a(href="http://www.nodemanual.org/0.6.12/", class="version") 0.6.12
li
  a(href="http://www.nodemanual.org/0.6.11/", class="version") 0.6.11
li
  a(href="http://www.nodemanual.org/0.6.10/", class="version") 0.6.10
li
  a(href="http://www.nodemanual.org/0.6.9/", class="version") 0.6.9
li
  a(href="http://www.nodemanual.org/0.6.8/", class="version") 0.6.8
li
  a(href="http://www.nodemanual.org/0.6.7/", class="version") 0.6.7