
#content > h3 {
    font-size: 30px;
    line-height: 36px;
    border-bottom: 1px solid #848484;
    margin-bottom: 15px;
    margin-top: 0;
    padding-bottom: 5px;
}

div.title {
	padding-bottom: 10px;
}

.cite {
	color: #657383;
}

.editInC9 {
	top: 227px;
	right: 15px;
}

.dev_guide {
	font-size: 12px;
}