/*
  Generic "affects everything" stuff
*/
body {
  background-color: #ffffff;
}

li {
    color: black;
}

code {
  background-color: #fce68c;
}

pre code {
  background-color: transparent;
}

a code {
    color: #0069D6;
}

/* 
  Header and shoulders
*/

#topSection {
  width: 940px;
}

.brand {
  background: transparent url(../images/node-logo.png) top;
  background-repeat: no-repeat;
  margin-top: 7px;
  margin-right: 110px;
  width: 110px;
}

a.brand {
  cursor: default;
}

.masthead {
  background-color: #7f9e2e;
  background-repeat: repeat-x;
}

.jumbotron {
  min-width: 940px;
  padding-top: 40px;
}

.jumbotron .inner {
  background: transparent url(../images/header-back.png) top center;
  padding: 45px 0;
  -webkit-box-shadow: inset 0 10px 30px rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 10px 30px rgba(0,0,0,.3);
}

.jumbotron h1 {
  font-size: 54px;
  line-height: 1;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

.jumbotron h1, .jumbotron p {
  margin-bottom: 9px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

/*
  Menu venue
*/

.menu li {
  color: #E1E1E1;
}

.menu li .menu-item a.menuLink, .menu li .menu-item span.menuLink {
  color: #000000;
  font-weight: bold;
}

.menuTwo li .menu-item a.menuLink {
  color: #767676;
  font-weight: bold;
}

/* need specificity to "beat" the above colors */
.menu li .menu-item a.currentItem, .menuTwo li .menu-item  {
  color: #618100;
}

/*
  Members and the tabs that represent them
*/

.members {
  width: 800px;  
}

.memberHeader {
  float: left;
  padding-top: 10px;
  padding-right: 5px;
}

.tabs {
  padding-top: 10px;
  border-bottom: 1px solid black;
}

.topbar div > ul .menu-dropdown li a:hover,
.nav .menu-dropdown li a:hover,
.topbar div > ul .dropdown-menu li a:hover,
.nav .dropdown-menu li a:hover {
  background-color: #ffffff;
  color: #000000;
}

.open .menu, .dropdown.open .menu, .open .dropdown-toggle, .dropdown.open .dropdown-toggle  {
  background: transparent;
  color: #000000;
  font-weight: bold;
}

.tabs > li > a:hover {
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
}
.tabs .active > a, .tabs .active > a:hover {
  color: #000000;
  border: none;
  cursor: default;
}

.dropdown-toggle {
  color: #d4d4d4;
}

ul.tabs .double ul, ul.tabs .triple ul, ul.tabs .quad ul{
  width:760px;
  margin-bottom:20px;
  overflow:hidden;
  border-top:1px solid #ccc;
}
ul.tabs .double li, ul.tabs .triple li, ul.tabs .quad li{
  line-height:1.5em;
  border-bottom:1px solid #ccc;
  float:left;
  display:inline;
}

/*
  Center content (the "real stuff")
 */

.row {
  background: url(../resources/images/sidebar_top.png) repeat-x;
}

.container {
  width: 1420px;
}

/*
  ALl about signatures
 */

.signatures {
  width: 800px;
}

ul.signatures ul {
    list-style: none;
    display: inline;
}

 li.signature {
    list-style: none;
}

.signature ul {
    padding: 0;
    margin: 0;
}

.signature li {
    display: inline;
}

.signature ul.argument-types::before {
    content: '→';
    margin: 0 5px;
}

.member-name {
    color: #4397cd;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.signature-call a {
  color: #859c59;
}

.metaInfo {
  float: right;
}

.chainable {
  background-color: #0072bc;
  color: #ffffff;
}

.deprecated {
  background-color: #f7941d;
  color: #ffffff;
}

.alias {
  background-color: #6c951e;
  color: #ffffff;
}

.related-to {
  background-color: #89289a;
  color: #ffffff;
}

.alias a, .related-to a {
  color: #ffffff;
  text-decoration: underline;  
}

div.memberContent div.description {
  position:relative;
  top: -13px;
}

/*
  Everyday I'm togglin'
*/

.methodToggle a {
    color: #fff;
    border-bottom: 0px;
    text-decoration: none;
}

h3.methodToggle {
    height               : 13px; 
    width                : 10px; 
    background-position  : 0px 0px; 
    position: relative;
    top: -60px;
    background-image     : url(../images/member-sprites.png); 
    background-color     : transparent; 
    background-repeat    : no-repeat; 
}

h3.methodToggleHover {
    background-position  : 0px -28px; 
}

h3.active {
    top:                  -60px;
    height               : 13px; 
    width                : 10px; 
    background-position  : 0px -58px; 
} 

.hidden {
  display: none;
  visibility: hidden;
}

.hiddenSpan {
    display: none;
}

.ellipsis_description, .short_description {
  width: 800px;
}

/*
  Footer? I hardly know her
  */

#footer {
   /*position:fixed; */
   left:0px;
   bottom:0px;
   height:65px;
   width:100%;
   background:#fefefe;
   color: #c3c3c3;
}

#footer a {
  color: #c3c3c3;
  text-decoration: underline;
}

 .logoText, .logoImg {
   /*position: absolute;*/
 }

 .logoImg {
   top: 40px;
 }
