include ../../../common_layout
include lib

mixin identifyBuild(tree)

mixin doctype

html(xmlns="http://www.w3.org/1999/xhtml")
  head
    mixin head('./../../', tree.children[0].href)
  
  body

    mixin topBar(tree.children[0].href)

    .container#main
      .content
        .row.container
          .span5.offset4.sidebarContainer
            #sidebar
              if nodejsRef == 'true'
                include nodejs_ref_menu.jade
              else
                include js_doc_menu.jade
          .span11
            #content
             mixin api()

             div#disqus_thread

    mixin footer

  mixin endingScripts