include ../common_layout

mixin identifyBuild

mixin doctype

mixin head('../resources/csses/devguide_overrides.css')

body(onload="styleCode()")

  mixin topBar

  mixin header

  .container
    .content
      .row.container
        .span5.offset4.sidebarContainer
          #sidebar
            include nodejs_dev_guide_menu.jade
        .span11
          div.title
            h1.pageTitle #{title}
            if byline.length
              span.cite by 
                mixin markdown(byline, true)
          span.editInC9 
            mixin formatGHHref(whoAmI, 'nodejs_dev_guide')
          .dev_guide#content
            mixin markdown(data)

          div#disqus_thread

    mixin footer

  mixin endingScripts

</html>
