include ../common_layout

mixin identifyBuild('', 'nodejs_dev_guide')

mixin doctype

mixin head('Node.js Guide', '../resources/csses/devguide_overrides.css')

body(onload="styleCode()")

  mixin topBar(whoAmI)

  .container.shift
    .content
      .row.container
        .span5.offset4.sidebarContainer
          #sidebar
            include nodejs_dev_guide_menu.jade
        .span11
          div.title
            h1.pageTitle #{title}
              span.editInC9 
                mixin formatGHHref(whoAmI, 'nodejs_dev_guide')
            if byline.length
              span.cite by 
                mixin markdown(byline, true)
          .dev_guide#content
            mixin markdown(data)

          div#disqus_thread

    mixin footer

  mixin endingScripts

</html>
