include ../nodejs_ref_guide/skins/templates/lib
include ../common_layout

mixin identifyBuild

mixin doctype

mixin head('../resources/csses/devguide_overrides.css')

body(onload="styleCode()")

  mixin topBar

  mixin header

  .container
    .content
      .row.container
        .span5.offset4.sidebarContainer
          #sidebar
            include nodejs_dev_guide_menu.jade
        .span11
          div.title
            h1.pageTitle #{title}
            span.cite by 
              mixin markdown(byline, true)
          span.editInC9 
            a(href='#', title='Edit in Cloud9 IDE') [edit]
          .dev_guide#content
            mixin markdown(data)

          div#disqus_thread

    mixin footer

  mixin endingScripts

</html>
