div#well
   h2 Node.js Manual

   h3 Basic Overview

   ul.menu
      li
         div.menu-item
            a(class="menuLink", href="how-to-write-asynchronous-code.html") Writing Asynchronous Code                                                        
      li
         div.menu-item
            a(class="menuLink", href="what-are-callbacks.html") Working with Callbacks
      li
         div.menu-item
            a(class="menuLink", href="what-are-event-emitters.html") Understanding Event Emitters
      li
         div.menu-item
            a(class="menuLink", href="npm.html") The Node Package Manager
         ul.menuTwo
            li
               div.menu-item
                  a(class="menuLink class", href="how-to-access-module-package-info.html") Accessing Module Package Info
            li
               div.menu-item
                  a(class="menuLink class", href="what-is-node-core-verus-userland.html") Core Libraries versus User-Submitted Modules  
            li
               div.menu-item
                  a(class="menuLink class", href="what-is-the-file-package-json.html") Parsing the File Package JSON    
      li
         div.menu-item
            a(class="menuLink", href="what-is-require.html") Importing Modules with require()             
      li
         div.menu-item
            a(class="menuLink", href="how-to-use-nodejs-repl.html") Executing Command Line Node.js via REPL     

   h3 Tutorials

   ul.menu       
      li
         div.menu-item
            a(class="menuLink", href="how-to-log.html") Implementing Logging Messages
      li
         div.menu-item
            span.menuHeader The File System
         ul.menuTwo
            li
               div.menu-item
                  a(class="menuLink", href="how-to-read-files-in-nodejs.html") Reading Files            
            li
               div.menu-item
                  a(class="menuLink", href="how-to-write-files-in-nodejs.html") Writing to Files   
            li
               div.menu-item
                  a(class="menuLink", href="how-to-use-the-path-module.html") Manipulating Paths with the path Module
            li
               div.menu-item
                  a(class="menuLink", href="how-to-store-local-config-data.html") Storing Local Configuration Data       
            li
               div.menu-item
                  a(class="menuLink", href="how-to-search-files-and-directories-in-nodejs.html") Searching for Files               
      li
         div.menu-item
            a(class="menuLink", href="what-are-the-built-in-timer-functions.html") Using Timer Functions Correctly

      li
         div.menu-item
            span.menuHeader The Command Line
         ul.menuTwo
            li
               div.menu-item
                  a(class="menuLink", href="how-to-prompt-for-command-line-input.html") Prompting for Command Line Input             
            li
               div.menu-item
                  a(class="menuLink", href="how-to-parse-command-line-arguments.html") Parsing Command Line Arguments  
            li
               div.menu-item
                  a(class="menuLink", href="how-to-get-colors-on-the-command-line.html") Colors on the Command Line    
       
      li
         div.menu-item
            a(class="menuLink", href="security.html") Securing Your Code  
               
      li
         div.menu-item
            span.menuHeader HTTP Servers and Clients
         ul.menuTwo
            li
               div.menu-item
                  a(class="menuLink", href="HTTP-servers.html") Creating an HTTP Server
            li
               div.menu-item
                  a(class="menuLink", href="how-to-create-a-HTTPS-server.html") Creating an HTTPS Server
            li
               div.menu-item
                  a(class="menuLink", href="how-to-serve-static-files.html") Serving Static Files   
            li
               div.menu-item
                  a(class="menuLink", href="how-to-create-a-HTTP-request.html") Creating HTTP GET and POST Requests                                 
            li
               div.menu-item
                  a(class="menuLink", href="how-to-read-POST-data.html") Reading POST Data
            li
               div.menu-item
                  a(class="menuLink", href="how-to-handle-multipart-form-data.html") Handling Multi-Part Form Data                               
            li
               div.menu-item
                  a(class="menuLink", href="how-to-access-query-string-parameters.html") Accessing Query String Parameters  
                   
      li
         div.menu-item
            span.menuHeader Debugging and Handling Errors
         ul.menuTwo     
            li
               div.menu-item
                  a(class="menuLink", href="how-to-debug-nodejs-applications.html") Debugging Node.js Applications    
            li
               div.menu-item
                  a(class="menuLink", href="how-to-use-util-inspect.html") Debugging with util.inspect() 
            li
               div.menu-item
                  a(class="menuLink", href="what-is-try-catch.html") Understanding try/catch                                  
            li
               div.menu-item
                  a(class="menuLink", href="what-is-the-error-object.html") The Global Error Object
            li
               div.menu-item
                  a(class="menuLink", href="what-are-the-error-conventions.html") Error Conventions
               
      li
         div.menu-item
            span.menuHeader Buffers and Streams
         ul.menuTwo
            li
               div.menu-item
                 a(class="menuLink", href="how-to-use-buffers.html") Manipulating Buffers   
            li
               div.menu-item
                  a(class="menuLink", href="streams.html") Understanding Streams           
            li
               div.menu-item
                  a(class="menuLink", href="how-to-use-fs-create-read-stream.html") Reading Streams   
            li
               div.menu-item
                  a(class="menuLink", href="how-to-use-fs-create-write-stream.html") Writing to Streams
            li
               div.menu-item
                  a(class="menuLink", href="how-to-use-stream-pipe.html") Piping Streams

      li
         div.menu-item
            a(class="menuLink", href="how-to-spawn-a-child-process.html") Spawning Child Processes                  
      li
         div.menu-item
            a(class="menuLink", href="how-to-create-a-custom-repl.html") Creating a Custom REPL
      li
         div.menu-item
            a(class="menuLink", href="cryptography.html") Implementing Cryptography
         ul.menuTwo
            li
               div.menu-item
                  a(class="menuLink", href="how-to-use-crypto-module.html") Using the crypto Module    
            li
               div.menu-item
                  a(class="menuLink", href="how-to-use-the-tls-module.html") Using the tls Module    
            
   h3 Additional Reference

   ul.menu

      li
         div.menu-item
            a(class="menuLink", href="globals-in-node-js.html") A (Brief) List of Globals in Node.js
      li
         div.menu-item
            a(class="menuLink", href="the-process-module.html") Using the process Module    
      li
         div.menu-item
            a(class="menuLink", href="the-console-module.html") Using the console Module    
      li
         div.menu-item
            span.menuHeader Javascript Conventions
         ul.menuTwo
            li
               div.menu-item
                  a(class="menuLink", href="how-to-create-default-parameters-for-functions.html") Creating Default Parameters for Functions
            li
               div.menu-item
                  a(class="menuLink", href="what-is-the-arguments-object.html") The Arguments Object  
            li
               div.menu-item
                  a(class="menuLink", href="what-is-json.html") About JSON 
            li
               div.menu-item
                  a(class="menuLink", href="what-are-truthy-and-falsy-values.html") Defining "Truthy" and "Falsy" values
            li
               div.menu-item
                  a(class="menuLink", href="using-ECMA5-in-nodejs.html") Using ECMA5 in Node.js           